<div>
    <md-card>
        <md-card-content>
            <div class="message">{{message}}</div>
            <md-list flex>
                <md-list-item class="md-long-text" ng-repeat="problem in unresolved" ng-click="null">
                    <div class="md-list-item-text" layout="column">
                        <h3>{{problem.name}}{{problem.space}}{{problem.issue}}</h3>
                        <h4>{{problem.name}}{{problem.description}}</h4>
                        <p>{{problem.note}}</p>
                    </div>
                    <md-list-actions>
                        <md-button ng-show="problem.ar" class="md-raised" ng-click="accept($index)">Accept Request</md-button>
                        <md-button ng-show="problem.ar" class="md-raised" ng-click="reject($index)">Reject Request</md-button>
                        <md-button ng-show="problem.mod" class="md-raised" ng-click="modal($event, $index)">Modify</md-button>
                        <md-button ng-show="!problem.mod" class="md-raised" ng-click=reject($index)>Allow</md-button>
                        <md-button ng-show="!problem.mod" class="md-raised" ng-click="accept($index)">Reject</md-button>
                    </md-list-actions>
                </md-list-item>
                </md-list>
        </md-card-content>
    </md-card>
</div>